.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
}

.project-card {
    background-color: var(--color-bg-light);
    padding: 30px;
    border-radius: 8px;
    transition: var(--transition);
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
}

.project-card:hover {
    transform: translateY(-7px);
    border-color: var(--color-accent);
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.folder-icon {
    color: var(--color-accent);
}

.project-links {
    display: flex;
    gap: 15px;
}

.project-links a {
    color: var(--color-text);
}

.project-links a:hover {
    color: var(--color-accent);
}

.project-title {
    color: var(--color-heading);
    font-size: 22px;
    margin-bottom: 10px;
}

.project-desc {
    color: var(--color-text);
    font-size: 16px;
    margin-bottom: 20px;
    flex-grow: 1;
}

.project-tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
    font-size: 12px;
    font-family: monospace;
    color: var(--color-text-light);
}